.footer {
  text-align: center;
  padding: 1rem 0;
  font-size: 0.9rem;
}

.socialIcons {
  display: flex;
  justify-content: center;
  margin-bottom: 0.5rem;
}

.some_footer {
  transition: transform 0.3s ease;
  margin: 0 0.5rem;  
  cursor: pointer;
}

.some_footer:hover {
  transform: scale(1.1);
}
