.full_nav{
    display: flex;
    flex-direction: row;
    width: 100%;
    background-color: #111;
    padding: 1rem 2rem;
    justify-content: space-between;
    align-items: center;
}

.navbar{
    display: flex;
    flex-direction: row; 
}

  
  .navList {
    list-style: none;
    display: flex;
    gap: 2rem;
    margin: 0;
    padding: 0;
    
  }
  
  .navList a {
    color: white;
    text-decoration: none;
    font-weight: bold;
  }
  
  .navList a:hover {
    text-decoration: underline;
  }

  .some_nav{
  gap: 2rem;
  margin-left: 2%;
  margin-right: 2%;
  }

  .some_nav:hover{
    transform: scale(1.15);
  }
  
  