.full_nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  padding: 1rem 2rem;
  z-index: 1000;
}

.navbar {
   display: flex;
  align-items: center;
  justify-content: space-between;
  width: 45vw;
}

.navList {
  list-style: none;
  display: flex;
  gap: 2rem;
  margin: 0;
  padding: 0;
}

.navLink {
  color: var(--secondary-color);
  text-decoration: none;
  font-family: "Lexend Exa", sans-serif;
  transition: transform 0.2s ease, font-weight 0.2s ease;
}

.navLink:hover {
  font-weight: bold;
  transform: scale(1.1);
}

.active {
  background-color: var(--accent-color);
  padding: 0.5rem 1rem;
  color: var(--secondary-color);
  border-radius: 19px;
}

.some_nav {
  margin: 0 0.5rem;
  transition: transform 0.2s ease;
}

.some_nav:hover {
  transform: scale(1.15);
}

.burger {
  display: none;
  flex-direction: column;
  justify-content: space-between;
  width: 30px;
  height: 22px;
  background: none;
  border: none;
  cursor: pointer;
  padding: 0;
  z-index: 1001;
}

.burgerLine {
  width: 100%;
  height: 3px;
  background-color: white;
  transition: all 0.3s ease-in-out;
  transform-origin: center;
  border-radius: 2px;
}

/* Burger åben (X) */
.burger.open .burgerLine:nth-child(1) {
  transform: rotate(45deg) translate(5px, 5px);
}

.burger.open .burgerLine:nth-child(2) {
  opacity: 0;
}

.burger.open .burgerLine:nth-child(3) {
  transform: rotate(-45deg) translate(5px, -5px);
}

.socialIcons {
  display: flex;
  justify-content: center;
  gap: 1.5rem;
}

/* ============ Mobilvenlig styling ============ */
@media (max-width: 768px) {
  .burger {
    display: flex;
  }

    .socialIcons {
    width: 100%;
  }

  .navbar {
    flex-direction: column;
    align-items: center;
    background-color: #111;
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    display: none;
    padding: 1rem 0rem;
    width: 100vw;
  }

  .showMenu {
    display: flex;
  }

  .navList {
    flex-direction: column;
    gap: 1.5rem;
    align-items: center;
    margin-bottom: 2rem;
  }

  .navLink {
    font-size: 1.25rem;
  }
}
