.tabNav {
  display: flex;
  gap: 1rem;
  margin: 2rem 0;
  justify-content: center;
}

.tabButton {
  padding: 0.75rem 1.5rem;
  background-color: transparent;
  border: 2px solid var(--accent-color);
  color: var(--secondary-color);
  cursor: pointer;
  font-family: "Lexend exa", sans-serif;
  border-radius: 8px;
  transition: all 0.2s ease-in-out;
  text-transform: uppercase;
}

.tabButton:hover {
  background-color: var(--accent-color);
  color: var(--secondary-color);
  transform: scale(1.1);
}

.active {
  background-color: var(--accent-color);
  color: var(--secondary-color);
}

.tabContent {
  padding: 2rem;
  border-radius: 12px;
}

.infoBlock{
  display: grid;
  grid-template-columns: 1fr auto;
  gap: 1rem;
  margin-bottom: 1rem;
}

.imagewrapper{
width: 400px;
  height: auto;
  border-radius: 10px;
  object-fit: cover;
}
